$white: #fff;
$black: #000;
$light-gray: #ccc;
$gray: #333;
$red: #ff0000;
$blue: #0089ff;
$light-yellow: #feed99;

// with opacity
$black-half-opacity: rgba(0, 0, 0, .5);

// tables
$border-color: #e2e2e2;
